html,
body {
  padding: 0;
  margin: 0;
}
html {
  background-image: url(../../public/images/backgroud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: initial;
  font-family: Outfit, sans-serif;
  height: 100%;
  overflow: hidden;
}
form {
  display: flex;
}

.check {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
  justify-content: space-between;
}

.terms {
  width: 100%;
  text-align: justify;
  font-size: 16px;
  color: white;
}
@media (max-width: 640px) {
  .terms {
    position: relative;
  }
}

.erros {
  color: red;
}

.colum-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
